@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-monoton: var(--font-monoton);
  --font-open_sans: var(--font-open-sans);
  --font-montserrat: var(--font-montserrat);
  --font-epilogue: var(--font-epilogue);

  /* New Teal Palette */
  --color-brand-primary: #1DD3C3;
  --color-brand-secondary: #2E5BFF;
  --color-brand-accent: #00E5CC;
  --color-brand-dark: #2D3436;
  --color-brand-grey: #636E72;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: #333652;
  font-family: var(--font-open-sans);
}

input {
  accent-color: #1DD3C3;
  border: 1px solid #ccc;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-open-sans);
}

.nav-link {
  @apply underline-offset-4 decoration-2 hover:underline hover:text-purple-800 hover:decoration-purple-800;
}